body {
	    background-color: #d9d9d9;
		font-family: "Times New Roman", Times, serif; 
}
div#content {
	background-color: #ffffff;
   	width: 50%;
	margin: auto;
   	padding-top: 20px;
   	text-align: center;
}
div#contact {
	border: 2px solid black;
	padding: 20px;
	margin-top: 50px;
	background-color: #a9a9a9;

}
div#header {
	margin-left: 20px;
	margin-right: 20px;
	border-bottom: 3px solid black;
}

div.project {
	width: 90%;
	margin: auto;
	border: 2px solid black;
	padding: 20px;
	margin-top: 50px;
	background-color: #a9a9a9;
}

div.pagelink {
	display: inline;
	width:	200px;
	margin-bottom: 100px;
	background-color: #000000;
	text-color: #ffffff;
	float:right;
}
a.pagelink {
	font-size: 30px;
	color: white;
	text-decoration: none;
}

a.pagelink:visited {
	color: white;
}


h1.pagetitle {
	text-align: left;
	font-size: 40px;
	margin-left: 50px;
}

img.screenshot {
	width: 40%;
	height: auto;
	margin: 25px 5px 25px 5px;
}



a.homelink {
	text-align: left;
}

@media screen and (max-width: 800px){

	img.screenshot {
		width: 80%;
		display: inline-block;
	}

}
@media screen and (max-width: 400px){
	
	div#content {
		width: 360px;
	}
}
