body {
	    background-color: #001000;
		font-family: "Times New Roman", Times, serif; 
}
div#content {
	border-top: 10px solid #009933;
	border-bottom: 10px solid #009933;
	background-color: #d9d9d9;
   	width: 50%;
	margin: auto;
   	padding-top: 20px;
   	text-align: center;
}
div#header {
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
	border-bottom: 3px solid black;
}
div.project {
	text-align: center;
	width: 70%;
	margin: auto;
	padding: 20px;
}
div.project h1{
	text-align: left;
	color: #009933;
	border-top: 1px solid #b9b9b9;
	border-bottom: 1px solid #b9b9b9;
}
div.projectInfo{
	text-align: left;
	margin-bottom: 10px;
}
div.projectLinks{
	width: 50%;
	margin: auto;
	background-color: #494949;
	border: 2px solid black;
	font-size: 20px;
}
div.projectLinks p{
	margin: auto;
	color: #009933;
}
div.projectLinks a{
	color: #ffffff;
	text-decoration: none;
}
div.projectLinks a:visited{
	color: #ffffff;
	text-decoration: none;
}

div#about{
	font-size: 20px;
	text-align: left;
	width: 70%;
	margin: auto;
	padding: 20px;
	margin-top: 50px;
}
div#contact{
	margin: auto;
	background-color: #494949;
	border: 2px solid black;
	padding-left: 20px;
	padding-right: 20px;
	color #ffffff;
	display: inline-block;
}
div#contact h1{
	font-size: 25px;
	color: #ffffff;
}
div#contact p.contactTitle{
	color: #009933;
}
div#contact p{
	font-size: 18px;
	color: #ffffff;
}
div#contact a{
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}
div#contact a:visited{
	color: #ffffff;
}


div.pagelink {
	display: block;
	width:	200px;
	background-color: #000000;
	text-color: #ffffff;
	float:right;
}
a.pagelink {
	font-size: 30px;
	color: white;
	text-decoration: none;
}

a.pagelink:visited {
	color: white;
}


h1.pagetitle {
	color: #009933;
	text-align: left;
	font-size: 40px;
	margin-left: 50px;
}

div.screenshotDiv {
	width: 80%;
	max-height: 500px;
	text-align: center;
	margin: auto;
}

img.screenshot {
	max-height: 400px;
	max-width: 100%;
	height: auto;
	width: auto;
	margin: auto;
}

@media screen and (max-width: 600px){
	
	div#content {
		width: 100%;
	}

}
