body {
    background-color: #d9d9d9;
}
div#content {
    width: 800px;
    padding-top: 20px;
    text-align: center;
    margin: auto;
}
div.project {
    width: 600px;
    border: 1px solid black;
    margin: auto;
}


h1#pagetitle {
    font-size: 40;
    border-bottom: 2px solid black;
}
