body {
	    background-color: #d9d9d9;
}
div#content {
   	width: 50%;
   	margin: auto;
   	padding-top: 20px;
	margin-top: 1000px;
   	text-align: center;
}
div#contact {
	border: 2px solid black;
	padding: 20px;
	margin-top: 50px;
	background-color: #a9a9a9;

}
div.project {
	width: 90%;
	margin:auto;
	border: 2px solid black;
	padding: 20px;
	margin-top: 50px;
	background-color: #a9a9a9;
}




h1.pagetitle {
	font-size: 40px;
	border-bottom: 1px solid black;
}

img.screenshot {
	width: 40%;
	height: auto;
	margin: 25px 5px 25px 5px;
}

@media screen and (max-width: 800px){

	img.screenshot {
		width: 80%;
		display: inline-block;
	}

}
@media screen and (max-width: 400px){
	
	div#content {
		width: 360px;
	}
}
